<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <main>
        <%- include('../partials/taps-sidebar.ejs') %>
        <div id="channels">
            <h5><%= selectedTap ? selectedTap.name : '' %></h5>
            <ul id="channellist">
                <% selectedTap ? selectedTap.channels.forEach((channel) => { %>
                    <a href="/home/<%= selectedTap.id %>/channels/<%= channel.id %>" class="channel"><li>#<%= channel.name %></li></a>
                <% }) : '' %>
                <%- selectedTap ? '<a href="/home/' + selectedTap.id + '/channels/new" id="newchannel"><li> New Channel </li></a>' : '' %>
            </ul>
            <div id="myaccount">
                <a href="/usersettings"><%= user.nname %></a>
            </div>
        </div>
        <div id="view">
            <%- include('../partials/nav.ejs') %>
            <div id="content">
                <div id="messages">
                    <div>
                    <% if (selectedChannel) {%>
                        <% selectedChannel.msgs.forEach((msg) => { %>
                            <div class="msg">
                                <% let msgauthor = users.find(user => user._id.toString() == msg.author.toString()) %>
                                <% if (msgauthor.id == user.id) { %> <form class="deletemsg" action="<%= selectedChannel.id %>/messages/<%= msg.id %>" method="POST"><button>X</button></form> <% } %>
                                <h6><%= msgauthor.nname %></h6>
                                <p><%= msg.body %></p>
                            </div>
                        <% }) %>
                        <form action="/home/<%= selectedTap.id %>/channels/<%= selectedChannel.id %>" method="post" id="msgform">
                            <input type="textarea" name="body">
                        </form>
                    <% } %>
                    </div>
                </div>
            </div>
            <div id="users" class="">
                <ul id="userlist">
                    <% users ? users.forEach((user) => { %>
                        <a href="/home/<%= user._id %>" class="user"><li><%= user.nname %></li></a>
                    <% }) : '' %>
                </ul>
            </div>
        </div>
    </main>
  </body>
</html>