<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <main>
        <div id="taps">
            <% taps.forEach((tap) => { %>
                <a href="/taps/<%= tap.id %>"><div class="tapicon"><%= tap.name.charAt(0) %></div></a>
            <% }) %>
            <a href="/taps/new"><div class="tapicon">+</div></a>
        </div>
        <div id="view">
            <nav>
                <h5><%= selectedChannel ? '#'+selectedChannel.name : '' %></h5>
            </nav>
            <div id="content">
                <% users.forEach((user) => { %>
                    <a href="/users/<%= user.id %>"><div class="user"><%= user.nname %></div></a>
                <% }) %>
            </div>
        </div>
    </main>
  </body>
</html>